{% extends "hrTemplate.html" %}
{% block title %}Home and Remote - Home Office{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navHomeOffice').attr('class', 'active')
		})
	</script>
{% endblock %}
{% block level2 %}Home Office{% endblock %}
{% block content %}
	<ul class="nav nav-pills">
  		<li class="active"><a href="homeOffice">Incidents</a></li>
  		<li><a href="homeOffice/incidentClassification">Incident Classification</a></li>
	</ul>
{% endblock %} 