{% extends "hrTemplate.html" %}
{% block title %}Home and Remote - VPN{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navVPN').attr('class', 'active')
		})
	</script>
{% endblock %}
{% block level2 %}VPN{% endblock %}
{% block content %}
	<ul class="nav nav-pills">
  		<li><a href="../vpn">Incidents</a></li>
 		<li class="active"><a href="incidentClassification">Incident Classification</a></li>
	</ul>

	<img src="/static/anyconnectIncidents.jpg">
{% endblock %} 