Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
MySQL-python==1.2.4b4
Werkzeug==0.9.4
distribute==0.6.28
gunicorn==18.0
itsdangerous==0.23
newrelic==2.8.0.7
peewee==2.1.7
psycopg2==2.5.2
suds==0.3.4
wsgiref==0.1.2
