{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - ITaaC{% endblock %}
{% block head %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
	<script type="text/javascript" src="/static/js/moment.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navITaaC').attr('class', 'active');
			$('#circuittype').change(function() {
    		 	$('#cost').val($('#circuittype option:selected').data('cost'));
    		});
    		$('#targetdate').datetimepicker();

    		$("#alocation").change(function() {
				if ($('#alocation option:selected').data("locationtype") == "Cisco") {
					$('#alocationcisco').removeClass('hidden');
				}
				else {
					$('#alocationcisco').addClass('hidden');
				}
			});
			$("#zlocation").change(function() {
				if ($('#zlocation option:selected').data("locationtype") == "Cisco") {
					$('#zlocationcisco').removeClass('hidden');
				}
				else {
					$('#zlocationcisco').addClass('hidden');
				}
			});
		});
	</script>
{% endblock %}
{% block level2 %}ITaaC Project - Add Project{% endblock %}
{% block content %}
	<br />

	<ul class="nav nav-pills">
		<li><a href="/corporateNetwork/itaac">In Progress</a></li>
		<li><a href="/corporateNetwork/itaac/completed">Completed</a></li>
		<li><a href="/corporateNetwork/itaac/billing">Billing</a></li>
		<li class="pull-right active"><a href="/corporateNetwork/itaac/addProject">Add New Project</a></li>
	</ul>

	<br />

	<form class="form-horizontal" action="/corporateNetwork/itaac/addingProject" method="POST">
		<div class="form-group">
			<label for="projectname" class="col-sm-2 control-label">Project Name</label>
			<div class="col-sm-10 input-group">
				<input data-toggle="tooltip" type="text" class="form-control" name="projectname" id="projectname" placeholder="Project Name">
			</div>
		</div>

		<div class="form-group">
			<label for="requestor" class="col-sm-2 control-label required">Requestor *</label>
			<div class="col-sm-10 input-group">
				<input data-toggle="tooltip" type="text" class="form-control" name="requestor" id="requestor" placeholder="CEC Username" required>
			</div>
		</div>

		<div class="form-group">
			<label for="mailer" class="col-sm-2 control-label required">Email Contact or Client Mailing List *</label>
			<div class="col-sm-10 input-group">
				<input data-toggle="tooltip" type="text" class="form-control" name="mailer" id="mailer" placeholder="example@cisco.com" required>
			</div>
		</div>

		<div class="form-group">
			<label for="businessunit" class="col-sm-2 control-label">Business Unit</label>
			<div class="col-sm-10 input-group">
				<input data-toggle="tooltip" type="text" class="form-control" name="businessunit" id="businessunit" placeholder="">
			</div>
		</div>

		<div class="form-group">
	       	<label for="targetdate" class="col-sm-2 control-label">Target Date</label>
	        <div class='col-sm-10 input-group date' id='targetdate'>
	            <span class="input-group-addon">
	    	       	<i class="fa fa-calendar"></i>
	            </span>
	        	<input name="targetdate" type='text' class="form-control" placeholder="<---" readonly>
	        </div>
		</div>

		<div id="locationInformation">
			<h4>Location Information</h4>
			<div class="form-group">
				<label for="alocation" class="col-sm-2 control-label">A Location</label>
				<div class="col-sm-10 input-group" id="alocationselect">
					<select id="alocation" class="form-control input-xlarge" name="alocation">
						<option>None</option>
						{% for type in locationtypes %}
							<optgroup label="{{type}}">
								{% for location in locations[type] %}
									<option data-locationtype="{{location.locationtype}}">{{location.locationname}}</option>
								{% endfor %}
							</optgroup>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group hidden" id="alocationcisco">
	           	<label for="alocationcisco" class="col-sm-2 control-label">Cisco Building Code</label>
	            <div class='col-sm-10 input-group date'>
	            	<input name="alocationcisco" type='text' class="form-control">
		        </div>
			</div>

			<div class="form-group">
				<label for="zlocation" class="col-sm-2 control-label">Z Location</label>
				<div class="col-sm-10 input-group" id="zlocationselect">
					<select id="zlocation" class="form-control input-xlarge" name="zlocation">
						<option>None</option>
						{% for type in locationtypes %}
							<optgroup label="{{type}}">
								{% for location in locations[type] %}
									<option data-locationtype="{{location.locationtype}}">{{location.locationname}}</option>
								{% endfor %}
							</optgroup>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group hidden" id="zlocationcisco">
	           	<label for="zlocationcisco" class="col-sm-2 control-label">Cisco Building Code</label>
	            <div class='col-sm-10 input-group date'>
	            	<input name="zlocationcisco" type='text' class="form-control">
		        </div>
			</div>
		</div>

		<div id="discoveryBilling">
			<h4>Billing Information</h4>
			<div class="form-group">
				<label for="businessunit" class="col-sm-2 control-label">Circuit Type</label>
				<div class="col-sm-10 input-group" id="circuittype">
					<select name="circuittype" class="form-control">
						<option>None</option>
						{% for type in circuitTypes %}
							<optgroup label="{{type}}">
								{% for projectType in projectTypes[type] %}
									<option value="{{projectType.circuittype}}:{{projectType.size}}" data-cost="{{projectType.monthlycost}}">{{projectType.size}}</option>
								{% endfor %}
							</optgroup>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="cost" class="col-sm-2 control-label">Monthly Cost ($)</label>
				<div class="col-sm-10 input-group">
					<input name="cost" id="cost" type="text" class="form-control" readonly>
				</div>
			</div>

			<div class="form-group">
				<label for="billingdept" class="col-sm-2 control-label">Billing Department ID</label>
				<div class="col-sm-10 input-group">
					<input data-toggle="tooltip" type="text" class="form-control" name="billingdept" id="billingdept" placeholder="">
				</div>
			</div>

			<div class="form-group">
				<label for="billingauth" class="col-sm-2 control-label">Authorizer</label>
				<div class="col-sm-10 input-group">
					<input data-toggle="tooltip" type="text" class="form-control" name="billingauth" id="billingauth" placeholder="CEC Username">
				</div>
			</div>

				<div class="form-group">
				<label for="discoveryauthyes" class="col-sm-2 control-label">Client Authorised?</label>
				<div class="col-sm-10 input-group">
					<select class="form-control" name="discoveryauthyes">
						<option>No</option>
						<option>Yes</option>
					</select>
				</div>
			</div>
		</div>

		<div style="width:65%;text-align:center;margin:0 auto;">
			<input type="submit" id="saveEdit" value="Submit Project" class="btn btn-success" style="width:500px;">
		</div>
	</form>
{% endblock %}
