{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - ITaaC{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript" src='/static/js/jquery.dataTables.min.js'></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navITaaC').attr('class', 'active');
			$(".clickable").click(function() {
				window.location.href = $(this).find("a").attr("href");
			});

			var sortedTable = $('#dataTable').dataTable({"bPaginate":false});
			sortedTable.fnSort([[1,'asc']]);
			var x = $('#dataTable_filter');
			x.addClass('input-group');
			var z = x.children(":first").children("input")
			z.addClass('form-control').attr('placeholder','Search').unwrap();
			x.contents().filter(function(){ return this.nodeType != 1; }).remove();
		});
	</script>
{% endblock %}
{% block level2 %}ITaaC{% endblock %}
{% block content %}
	<br />

	<ul class="nav nav-pills">
		<li><a href="../itaac">In Progress</a></li>
		<li class="active"><a href="completed">Completed</a></li>
		<li class="pull-right"><a href="itaac/addProject">Add New Project</a></li>
	</ul>

	<br />

	<div>
		<table class="table table-condensed table-hover" id='dataTable'>
			<thead>
				<tr>
					<th>Project ID</th>
					<th>Project Name</th>
					<th>Origin Point</th>
					<th>Terminating Point</th>
					<th>Date Completed</th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr class="clickable">
						<td><a href="itaac/project?id={{project.projectid}}">{{project.projectid}}</a></td>
						<td>{{project.projectname}}</td>
						<td>{{project.buildingid_a}}, {{project.city_a}}, {{project.state_a}}</td>
						<td>{{project.buildingid_b}}, {{project.city_b}}, {{project.state_b}}</td>
						<td>placeholder</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
