{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - ITaaC{% endblock %}
{% block head %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
	<script type="text/javascript" src="/static/js/moment.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			//Select ITaaC on NavBar
			$('#navITaaC').attr('class', 'active');

    		//Date Time JS Initialise
    		$('#targetdate').datetimepicker();
    		$('#technicaldiscussiondate').datetimepicker();
    		$('#crdate').datetimepicker();

    		//Populate Drop downs
    		//This is a horrible way to do it, but it's quick
    		$('#assigneeSelect').val("{{project.assignee}}");
    		$("#alocation").val("{{project.alocation}}");
    		$("#zlocation").val("{{project.zlocation}}");
    		$("#circuittypeselect").val("{{project.circuittype}}{{project.size}}");
    		$("#discoveryauthyes").val("{{project.discoveryauthyes}}")

    		//Discovery
    		if ("{{project.discoverystatus}}" == "Completed") {
    			$('#discoveryCompleted').prop("selected", true);
    		}
    		else if ("{{project.discoverystatus}}" == "In Progress") {
    			$('#discoveryInProgress').prop("selected", true);
    		}
    		else if ("{{project.discoverystatus}}" == "Not Started") {
    			$('#discoveryNotStarted').prop("selected", true);
    		}
    		else {
    			$('#discoveryProjectDeclined').prop("selected", true);
    		}

    		//Security
    		if ("{{project.securitystatus}}" == "Completed") {
    			$('#securityCompleted').prop("selected", true);
    		}
    		else if ("{{project.securitystatus}}" == "In Progress") {
    			$('#securityInProgress').prop("selected", true);
    		}
    		else if ("{{project.securitystatus}}" == "Not Needed") {
    			$('#securityNotNeeded').prop("selected", true);
    		}
    		else {
    			$('#securityNotStarted').prop("selected", true);
    		}

    		//Design
    		if ("{{project.designstatus}}" == "Completed") {
    			$('#designCompleted').prop("selected", true);
    		}
    		else if ("{{project.designstatus}}" == "In Progress") {
    			$('#designInProgress').prop("selected", true);
    		}
    		else {
    			$('#designNotStarted').prop("selected", true);
    		}

    		//Implementation
    		if ("{{project.implementationstatus}}" == "Completed") {
    			$('#implementationCompleted').prop("selected", true);
    		}
    		else if ("{{project.implementationstatus}}" == "In Progress") {
    			$('#implementationInProgress').prop("selected", true);
    		}
    		else {
    			$('#implementationNotStarted').prop("selected", true);
    		}

    		//Service
    		if ("{{project.opsstatus}}" == "Completed") {
    			$('#opsCompleted').prop("selected", true);
    		}
    		else if ("{{project.opsstatus}}" == "In Progress") {
    			$('#opsInProgress').prop("selected", true);
    		}
    		else {
    			$('#opsNotStarted').prop("selected", true);
    		}

    		// Color and Open/Close panels depending on status
			var index;
			var panels = $('.panel');
			for (index = 0; index < panels.length; ++index) {
				if (($(panels[index]).find('.small-panel-title').text() == "Completed") || ($(panels[index]).find('.small-panel-title').text() == "Not Needed")) {
					$(panels[index]).removeClass().addClass('panel panel-success');
					$(panels[index]).find('.panel-collapse').removeClass('in');
				}
				else if ($(panels[index]).find('.small-panel-title').text() == "In Progress") {
					$(panels[index]).removeClass().addClass('panel panel-warning');
					$(panels[index]).find('.panel-collapse').addClass('in');
				}
				else if ($(panels[index]).find('.small-panel-title').text() == "Not Started" || $(panels[index]).find('.small-panel-title').text() == "Project Declined") {
					$(panels[index]).removeClass().addClass('panel panel-danger');
					$(panels[index]).find('.panel-collapse').removeClass('in');
				}
				else {
					$(panels[index]).removeClass().addClass('panel panel-default');
					$(panels[index]).find('.panel-collapse').addClass('in');
				}
			}

			//Check Checkboxes
			var index;
			var checkboxes = $('input[type=checkbox]');
			for (index = 0; index < checkboxes.length; ++index) {
				if ($(checkboxes[index]).data('value') == 'on') {
					$(checkboxes[index]).prop('checked', true);
				}
				else {
					$(checkboxes[index]).prop('checked', false);
				}
			}

    		//Enable Edit Functionality
    		$("#editProject").click(function() {
    			//Enable Select Boxes
    			$("#staticAssign").addClass("hidden");
    			$("#assignToSelect").removeClass("hidden");
    			$("#staticCircuitType").addClass("hidden");
    			$("#circuittype").removeClass("hidden");
    			$("#staticLineCard").addClass("hidden");
    			$("#linecard").removeClass("hidden");
    			$("#staticALocation").addClass("hidden");
    			$("#alocationselect").removeClass("hidden");
    			$("#staticZLocation").addClass("hidden");
    			$("#zlocationselect").removeClass("hidden");
    			$("#printCrNumbers").addClass("hidden");
				$("#crnumber").removeClass("hidden");
				$("#crnumber").removeAttr("disabled");
				$("#printSecurityCases").addClass("hidden");
				$("#securitycase").removeClass("hidden");
				$("#securitycase").removeAttr("disabled");
				$("#printLabIds").addClass("hidden");
				$("#labid").removeClass("hidden");
				$("#labid").removeAttr("disabled");

    			//Enable edit/save/delete
    			$("form :input").prop("disabled", false);
    			$("#saveEdit").removeClass("hidden");
    			$("#delete").removeClass("hidden");
    			$('#assigneeSelect').val("{{project.assignee}}");
    			$("#alocation").val("{{project.alocation}}");
    			$("#zlocation").val("{{project.zlocation}}");
    			$("#circuittypeselect").val("{{project.circuittype}}{{project.size}}");
    			$("#discoveryauthyes").val("{{project.discoveryauthyes}}");
    		});

    		//Automatic Populations
    		$('#circuittype').change(function() {
    		 	$('#cost').val($('#circuittype option:selected').data('cost'));
    		});

    		$('#i2ocasecreated').change(function(){
    			if(this.checked) {
        			$('#i2ocasecreatedtimestamp').val(moment().format('MM/DD/YYYY h:mm A'));
    			}
    			else {
    				$('#i2ocasecreatedtimestamp').val('');
    			}
			});
			$('#i2ocasereleased').change(function(){
    			if(this.checked) {
        			$('#i2ocasereleasedtimestamp').val(moment().format('MM/DD/YYYY h:mm A'));
    			}
    			else {
    				$('#i2ocasereleasedtimestamp').val('');
    			}
			});
    		$('#i2ocaseaccepted').change(function(){
    			if(this.checked) {
        			$('#i2ocaseacceptedtimestamp').val(moment().format('MM/DD/YYYY h:mm A'));
    			}
    			else {
    				$('#i2ocaseacceptedtimestamp').val('');
    			}
			});
			$('#i2ocasecompleted').change(function(){
    			if(this.checked) {
        			$('#i2ocasecompletedtimestamp').val(moment().format('MM/DD/YYYY h:mm A'));
    			}
    			else {
    				$('#i2ocasecompletedtimestamp').val('');
    			}
			});
			//hardware order no
			$('#hardwareneeded').change(function() {
				if (this.checked) {
					$('#hardwareorderno').prop('readonly', false);
				}
				else {
					$('#hardwareorderno').prop('readonly', true);
				}
			});

			//Show/Hide Cisco Location field
			$("#alocation").change(function() {
				if ($('#alocation option:selected').data("locationtype") == "Cisco") {
					$('#alocationcisco').removeClass('hidden');
				}
				else {
					$('#alocationcisco').addClass('hidden');
				}
			});
			$("#zlocation").change(function() {
				if ($('#zlocation option:selected').data("locationtype") == "Cisco") {
					$('#zlocationcisco').removeClass('hidden');
				}
				else {
					$('#zlocationcisco').addClass('hidden');
				}
			});

			$("form").submit(function(event) {
  				if ($('#discoverystatusselect').val() == "Completed" && ($('#securitystatusselect').val() == "Completed" || $('#securitystatusselect').val() == "Not Needed") && $('#designstatusselect').val() == "Completed" && $('#implementationstatusselect').val() == "Completed" && $("#opsstatusselect").val() == "Completed") {
  					if (($('#billingdept').val() != null) && ($('#billingdept').val() != "None") && ($('#billingdept').val() != "")) {
  						return;
  					}
  					else {
  						$('#myModal').modal('show')
  						event.preventDefault();
  					}
  				}
  				return;
			});
		});
	</script>
{% endblock %}
{% block level2 %}ITaaC Project- {{project.projectname}}{% endblock %}
{% block content %}
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-body">
	        <h4 style="color:red;text-align:center;">Please Add Billing Department</h4>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<br />

	<ul class="nav nav-pills">
		<li><a href="/corporateNetwork/itaac">In Progress</a></li>
		<li><a href="/corporateNetwork/itaac/completed">Completed</a></li>
		<li class="active"><a href="/corporateNetwork/itaac/project?id={{project.projectid}}">{{project.projectname}}</a></li>
		<li><a href="/corporateNetwork/itaac/billing">Billing</a></li>
		<li class="pull-right"><a href="/corporateNetwork/itaac/addProject">Add New Project</a></li>
		<li class="pull-right"><button type="button" id="editProject" class="btn btn-warning">Edit Project</button></li>
	</ul>

	<br />

	<!-- New & Latest Note -->
	<h4>Latest Note:<a class="btn btn-primary pull-right" data-toggle="collapse" data-target="#newNote">New Note</a></h4>

	<br />

	<div class="collapse well" id="newNote">
		<h4>New Note</h4>
		<form name="newNote" action="/corporateNetwork/itaac/newNote" method="POST">
			<input type="hidden" name="projectid" value="{{project.projectid}}"/>
			<textarea id="newNoteText" name="noteContent" class="form-control" rows="4"></textarea><br />
			<input type="submit" class="btn btn-default pull-right" value="Post"></input>
		</form>
		<br /><br />
	</div>

	<div class="well">
		<h4>{{lastNote.updated}}</h4>
		<p>{{lastNote.content}}</p>
	</div>

	<form role="form" class="form-horizontal" action="/corporateNetwork/itaac/editingProject" method="POST" onsubmit='return confirm(&quot;Do you really want to save these changes?&quot;);'>
		<h3>
			<div class="form-group">
				<label for="overallstatus" class="col-sm-2 control-label">Project Status:</label>
				<div class="col-sm-10" id="overallstatus">
					<p class="form-control-static">{{project.currentstatus}}</p>
				</div>
			</div>

			<div class="form-group">
				<label for="assignee" class="col-sm-2 control-label">Assigned To:</label>
				<div class="col-sm-10" id="staticAssign">
      				<p class="form-control-static">{{project.assignee}}</p>
      			</div>
				<div class="col-sm-10 input-group hidden" id="assignToSelect">
					<select class="form-control input-xlarge" id="assigneeSelect" name="assignee" disabled>
						<option>None</option>
						{% for type in resourcetypes %}
							<optgroup label="{{type}}">
								{% for resource in resources[type] %}
									<option>{{resource.resourcename}}</option>
								{% endfor %}
							</optgroup>
						{% endfor %}
					</select>
				</div>
			</div>
		</h3>

		<!-- Tabs! -->
		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
			<li id="detailsTab" class="active"><a href="#details" data-toggle="tab">Details</a></li>
			<li id="notesTab"><a href="#notes" data-toggle="tab">Notes</a></li>
		</ul>

		<br />

		<div class="tab-content">
			<div class="tab-pane fade in active" id="details">

				<!-- Begin REQUEST -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default" id="generalpanel">
			    		<div class="panel-heading" id="collapseHeadingOne">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									Request
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
							<!-- Start Inputs -->
							<div class="form-group hidden">
								<label for="projectid" class="col-sm-2 control-label">Project ID</label>
								<div class="col-sm-10">
									<input type="number" class="form-control" id="projectid" name="projectid" value="{{project.projectid}}" readonly>
								</div>
							</div>

							<div class="form-group">
								<label for="projectname" class="col-sm-2 control-label">Project Name</label>
								<div class="col-sm-10 input-group">
									<input data-toggle="tooltip" type="text" class="form-control" name="projectname" id="projectname" placeholder="Project Name" value="{{project.projectname}}" disabled>
								</div>
							</div>

							<div class="form-group">
								<label for="requestor" class="col-sm-2 control-label required">Requestor *</label>
								<div class="col-sm-10 input-group">
									<input data-toggle="tooltip" type="text" class="form-control" name="requestor" id="requestor" placeholder="John Chambers (chambers)" value="{{project.requestor}}" disabled required>
								</div>
							</div>

							<div class="form-group">
								<label for="mailer" class="col-sm-2 control-label required">Email Contact or Client Mailing List *</label>
								<div class="col-sm-10 input-group">
									<input data-toggle="tooltip" type="text" class="form-control" name="mailer" id="mailer" placeholder="example@cisco.com" value="{{project.mailer}}" disabled required>
								</div>
							</div>

							<div class="form-group">
								<label for="businessunit" class="col-sm-2 control-label">Business Unit</label>
								<div class="col-sm-10 input-group">
									<input data-toggle="tooltip" type="text" class="form-control" name="businessunit" id="businessunit" placeholder="John Chambers (chambers)" value="{{project.businessunit}}" disabled>
								</div>
							</div>

							<div class="form-group">
					           	<label for="targetdate" class="col-sm-2 control-label">Target Date</label>
					            <div class='col-sm-10 input-group date' id='targetdate'>
					                <span class="input-group-addon">
					        	       	<i class="fa fa-calendar"></i>
					                </span>
					            	<input name="targetdate" type='text' class="form-control" placeholder="<---" readonly value="{{project.targetdate}}">
						        </div>
							</div>

							<div id="locationInformation">
								<h4>Location Information</h4>
								<div class="form-group">
									<label for="alocation" class="col-sm-2 control-label">A Location</label>
									<div class="col-sm-10" id="staticALocation">
			      						<p class="form-control-static">{{project.alocation}} {{project.alocationcisco}}</p>
			      					</div>
									<div class="col-sm-10 input-group hidden" id="alocationselect">
										<select id="alocation" class="form-control input-xlarge" name="alocation" disabled>
											<option>None</option>
											{% for type in locationtypes %}
												<optgroup label="{{type}}">
													{% for location in locations[type] %}
														<option data-locationtype="{{location.locationtype}}">{{location.locationname}}</option>
													{% endfor %}
												</optgroup>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="form-group hidden" id="alocationcisco">
						           	<label for="alocationcisco" class="col-sm-2 control-label">Cisco Building Code</label>
						            <div class='col-sm-10 input-group date'>
						            	<input name="alocationcisco" type='text' class="form-control" value="{{project.alocationcisco}}" disabled>
							        </div>
								</div>

								<div class="form-group">
									<label for="zlocation" class="col-sm-2 control-label">Z Location</label>
									<div class="col-sm-10" id="staticZLocation">
			      						<p class="form-control-static">{{project.zlocation}} {{project.zlocationcisco}}</p>
			      					</div>
									<div class="col-sm-10 input-group hidden" id="zlocationselect">
										<select id="zlocation" class="form-control input-xlarge" name="zlocation" disabled>
											<option>None</option>
											{% for type in locationtypes %}
												<optgroup label="{{type}}">
													{% for location in locations[type] %}
														<option data-locationtype="{{location.locationtype}}">{{location.locationname}}</option>
													{% endfor %}
												</optgroup>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="form-group hidden" id="zlocationcisco">
						           	<label for="zlocationcisco" class="col-sm-2 control-label">Cisco Building Code</label>
						            <div class='col-sm-10 input-group date'>
						            	<input name="zlocationcisco" type='text' class="form-control" value="{{project.zlocationcisco}}" disabled>
							        </div>
								</div>
							</div>

							<div id="discoveryBilling">
								<h4>Billing Information</h4>
								<div class="form-group">
									<label for="businessunit" class="col-sm-2 control-label">Circuit Type</label>
									<div class="col-sm-10" id="staticCircuitType">
		      							<p class="form-control-static">{{project.circuittype}}</p>
		      						</div>
									<div class="col-sm-10 input-group hidden" id="circuittype">
										<select id="circuittypeselect" name="circuittype" class="form-control" disabled required>
											<option>None</option>
											{% for type in circuitTypes %}
												<optgroup label="{{type}}">
													{% for projectType in projectTypes[type] %}
														<option value="{{projectType.circuittype}}:{{projectType.size}}" data-cost="{{projectType.monthlycost}}">{{projectType.size}}</option>
													{% endfor %}
												</optgroup>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="form-group">
									<label for="cost" class="col-sm-2 control-label">Montly Cost ($)</label>
									<div class="col-sm-10 input-group">
										<input name="cost" id="cost" type="text" class="form-control" value="{{project.cost}}" disabled readonly>
									</div>
								</div>

								<div class="form-group">
									<label for="billingdept" class="col-sm-2 control-label">Billing Department ID</label>
									<div class="col-sm-10 input-group">
										<input data-toggle="tooltip" type="text" class="form-control" name="billingdept" id="billingdept" placeholder="" value="{{project.billingdept}}" disabled>
									</div>
								</div>

								<div class="form-group">
									<label for="billingauth" class="col-sm-2 control-label">Authorizer</label>
									<div class="col-sm-10 input-group">
										<input data-toggle="tooltip" type="text" class="form-control" name="billingauth" id="billingauth" placeholder="John Chambers (chambers)" value="{{project.billingauth}}" disabled>
									</div>
								</div>

			  					<div class="form-group">
									<label for="discoveryauthyes" class="col-sm-2 control-label">Client Authorised?</label>
									<div class="col-sm-10 input-group">
										<select class="form-control" name="discoveryauthyes" id="discoveryauthyes" disabled>
											<option>No</option>
											<option>Yes</option>
										</select>
									</div>
								</div>
			  				</div>
							<!-- End Inputs -->
							</div>
						</div>
					</div>
				</div>
				<!-- End REQUEST -->

				<br />

				<h2>Project Status: {{projectstatus}}</h2>

				<!-- Begin DISCOVERY -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-danger" id="discoverypanel">
			    		<div class="panel-heading" id="collapseHeadingTwo">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									Discovery <small class="small-panel-title">{{project.discoverystatus}}</small>
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
							<!-- Start Inputs -->
							<div class="form-group">
								<label for="discoverystatus" class="col-sm-2 control-label">Discovery Status</label>
								<div class="col-sm-10 input-group">
									<select class="form-control" name="discoverystatus" id="discoverystatusselect" disabled>
										<option id="discoveryNotStarted">Not Started</option>
										<option id="discoveryInProgress">In Progress</option>
										<option id="discoveryCompleted">Completed</option>
										<option id="discoveryProjectDeclined">Project Declined</option>
									</select>
								</div>
							</div>

							<hr />

							<div class="form-group">
								<label for="serviceteamcomments" class="col-sm-2 control-label">Service Team Comments</label>
								<div class="col-sm-10 input-group">
									<textarea data-toggle="tooltip" id="serviceteamcomments" class="form-control" name="serviceteamcomments" rows="3" disabled>{{project.serviceteamcomments}}</textarea>
								</div>
							</div>

		  					<div class="form-group">
								<label for="hardwareassessment" class="col-sm-2 control-label">Hardware Assessment</label>
								<div class="col-sm-10 input-group">
									<textarea data-toggle="tooltip" id="hardwareassessment" class="form-control" name="hardwareassessment" rows="3" disabled>{{project.hardwareassessment}}</textarea>
								</div>
							</div>
							<!-- End Inputs -->
							</div>
						</div>
					</div>
				</div>
				<!-- End DISCOVERY -->

				<br />

				<!-- Begin SECURITY REVIEW -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-danger" id="securitypanel">
			    		<div class="panel-heading" id="collapseHeadingThree">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									Security Review <small class="small-panel-title">{{project.securitystatus}}</small>
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
							<!-- Start Inputs -->
							<div class="form-group">
								<label for="securitystatus" class="col-sm-2 control-label">Security Review Status</label>
								<div class="col-sm-10 input-group">
									<select class="form-control" name="securitystatus" id="securitystatusselect" disabled>
										<option id="securityNotStarted">Not Started</option>
										<option id="securityNotNeeded">Not Needed</option>
										<option id="securityInProgress">In Progress</option>
										<option id="securityCompleted">Completed</option>
									</select>
								</div>
							</div>

							<hr />

							<div class="form-group">
								<label for="securitycase" class="col-sm-2 control-label">Security Case Number</label>
								<div class="col-sm-10 input-group">
									<p id="printSecurityCases" style="text-align:left;">
										{{splitsecuritycases | safe}}
									</p>
									<textarea class="form-control hidden" name="securitycase" id="securitycase" placeholder="INC" rows="3" disabled>{{project.securitycase}}</textarea>
								</div>
							</div>

							<div class="form-group">
								<label for="labid" class="col-sm-2 control-label">Lab ID</label>
								<div class="col-sm-10 input-group">
									<p id="printLabIds">
										{{splitlabids | safe}}
									</p>
									<textarea class="form-control hidden" name="labid" id="labid" rows="3" disabled>{{project.labid}}</textarea>
								</div>
							</div>

							<div class="form-group">
								<label for="archdocumentation" class="col-sm-2 control-label">Architecture Documentation</label>
								<div class="col-sm-10 input-group">
									<span class="input-group-btn">
										<span class="btn btn-primary">
											<a href="http://ciscodocs.cisco.com/ciscodocs/" target="_blank" style="color:#FFFFFF">Go to: Cisco Docs</a>
										</span>
									</span>
									<input name="archdocumentation" id="archdocumentation" type="text" class="form-control" value="{{project.archdocumentation}}" placeholder="Cisco Docs URL" disabled>
								</div>
							</div>

							<div class="form-group">
								<label for="securityfinalreview" class="col-sm-2 control-label">Final Security Review Conducted?</label>
								<div class="col-sm-10 input-group">
									<select class="form-control" name="securityfinalreview" disabled>
										<option>No</option>
										<option value="Yes">Yes or N/A</option>
									</select>
								</div>
							</div>
							<!-- End Inputs -->
							</div>
						</div>
					</div>
				</div>
				<!-- End SECURITY REVIEW -->

				<br />

				<!-- Begin DESIGN -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-danger" id="designpanel">
			    		<div class="panel-heading" id="collapseHeadingFour">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
									Design <small class="small-panel-title">{{project.designstatus}}</small>
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
							<!-- Start Inputs -->
							<div class="form-group">
								<label for="designstatus" class="col-sm-2 control-label">Design Status</label>
								<div class="col-sm-10 input-group">
									<select class="form-control" name="designstatus" id="designstatusselect" disabled>
										<option id="designNotStarted">Not Started</option>
										<option id="designInProgress">In Progress</option>
										<option id="designCompleted">Completed</option>
									</select>
								</div>
							</div>

							<hr />

							<div id="designsolution">
								<h4>Proposed Solution</h4>

								<div class="form-group">
									<label for="circuitid" class="col-sm-2 control-label">Circuit ID</label>
									<div class="col-sm-10 input-group">
										<input data-toggle="tooltip" type="text" class="form-control" name="circuitid" id="circuitid" placeholder="" value="{{project.circuitid}}" disabled>
									</div>
								</div>

								<div class="form-group">
									<label for="designdocumentation" class="col-sm-2 control-label">Design Documentation</label>
									<div class="col-sm-10 input-group">
										<span class="input-group-btn">
											<span class="btn btn-primary">
												<a href="http://ciscodocs.cisco.com/ciscodocs/" target="_blank" style="color:#FFFFFF">Go to: Cisco Docs</a>
											</span>
										</span>
										<input name="designdocumentation" id="designdocumentation" type="text" class="form-control" value="{{project.designdocumentation}}" placeholder="Cisco Docs URL" disabled>
									</div>
								</div>

								<div class="form-group">
									<label for="linecard" class="col-sm-2 control-label">Line Card</label>
									<div class="col-sm-10" id="staticLineCard">
		      							<p class="form-control-static">{{project.linecard}}</p>
		      						</div>
									<div class="col-sm-10 input-group hidden" id="linecard">
										<select name="linecard" class="form-control" disabled>
											<option>None</option>
											{% for card in lineCards %}
												<option>{{card.cardname}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<hr />

							<div class="form-group">
								<label for="teamreview" class="col-sm-2 control-label">Team Review</label>
								<div class="col-sm-10 input-group">
									<textarea data-toggle="tooltip" id="teamreview" class="form-control" name="teamreview" rows="3" disabled>{{project.teamreview}}</textarea>
								</div>
							</div>

							<div class="form-group">
								<label for="thirdparty" class="col-sm-2 control-label">Third Party Information</label>
								<div class="col-sm-10 input-group">
									<textarea placeholder="Level 3 order numbers, TMS etc." data-toggle="tooltip" id="thirdparty" class="form-control" name="thirdparty" rows="3"disabled>{{project.thirdparty}}</textarea>
								</div>
							</div>

							<div class="form-group">
								<label for="designclientapproval" class="col-sm-2 control-label">Client Approval</label>
								<div class="col-sm-10 input-group">
									<select class="form-control" name="designclientapproval" id="designclientapproval"disabled>
										<option>No</option>
										<option>Yes</option>
									</select>
								</div>
							</div>
							<!-- End Inputs -->
							</div>
						</div>
					</div>
				</div>
				<!-- End DESIGN -->

				<br />

				<!-- Begin IMPLEMENTATION -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-danger" id="implementationpanel">
			    		<div class="panel-heading" id="collapseHeadingFive">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
									Implementation <small class="small-panel-title">{{project.implementationstatus}}</small>
								</a>
							</h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse">
							<div class="panel-body">
							<!-- Start Inputs -->
							<div class="form-group">
								<label for="implementationstatus" class="col-sm-2 control-label">Implementation Status</label>
								<div class="col-sm-10 input-group">
									<select class="form-control" name="implementationstatus" id="implementationstatusselect" disabled>
										<option id="implementationNotStarted">Not Started</option>
										<option id="implementationInProgress">In Progress</option>
										<option id="implementationCompleted">Completed</option>
									</select>
								</div>
							</div>

							<hr />

							<div class="form-group">
								<label for="hardwareneeded" class="col-sm-2 control-label">Hardware Needed</label>
								<div class="col-sm-10 input-group">
		      						<span class="input-group-addon">
		        						<input name="hardwareneeded" id="hardwareneeded" type="checkbox" disabled data-value="{{project.hardwareneeded}}">
		      						</span>
		      						<input name="hardwareorderno" id="hardwareorderno" type="text" class="form-control" readonly disabled>
		    					</div>
		    				</div>

							<div class="form-group">
								<label for="hardwareinstallation" class="col-sm-2 control-label">Hardware Installation</label>
								<div class="col-sm-10 input-group">
									<select class="form-control" name="hardwareinstallation" disabled>
										<option>Not Started</option>
										<option>Not Needed</option>
										<option>In Progress</option>
										<option>Completed</option>
									</select>
								</div>
							</div>

							<br />

							<div class="form-group">
								<div class="col-sm-6" style="text-align:center;">
									<label for="crstatus" class="col-sm-2 control-label">CR Number</label>
									<div class="col-sm-10 input-group">
										<p id="printCrNumbers" style="text-align:left;">
											{{splitcrnumbers | safe}}
										</p>
										<textarea class="form-control hidden" name="crnumber" id="crnumber" rows="3" disabled>{{project.crnumber}}</textarea>
									</div>
								</div>

								<div class="col-sm-6" style="text-align:center;">
				            		<label for="crdate" class="col-sm-2 control-label">Scheduled Date</label>
				                	<div class='col-sm-10 input-group date' id='crdate'>
				                    	<span class="input-group-addon">
				                    		<i class="fa fa-calendar"></i>
				                    	</span>
				                    	<input name="crdate" type='text' class="form-control" placeholder="<--" disabled/>
					            	</div>
								</div>
							</div>

		    				<div class="form-group">
								<label for="litcase" class="col-sm-2 control-label">LIT Case</label>
								<div class="col-sm-10 input-group">
									<input data-toggle="tooltip" type="text" class="form-control" name="litcase" id="litcase" value="{{project.litcase}}" disabled>
								</div>
							</div>

							<div class="form-group">
								<label for="circuitdiagram" class="col-sm-2 control-label">Circuit Diagram</label>
								<div class="col-sm-10 input-group">
									<span class="input-group-btn">
										<span class="btn btn-primary btn-file">
											<a href="http://ciscodocs.cisco.com/ciscodocs/" target="_blank" style="color:#FFFFFF">Go to: Cisco Docs</a>
										</span>
									</span>
									<input name="circuitdiagram" id="circuitdiagram" type="text" class="form-control" placeholder="{{project.circuitdiagram}}" disabled>
								</div>
							</div>

							<div class="form-group">
								<label for="impother" class="col-sm-2 control-label">Other Comments</label>
								<div class="col-sm-10 input-group">
									<textarea data-toggle="tooltip" id="impother" class="form-control" name="impother" rows="3" disabled>{{project.impother}}</textarea>
								</div>
							</div>

							<div class="form-group">
								<label for="i2ocasecreated" class="col-sm-2 control-label">I2O Case Number</label>
								<div class="col-sm-10 input-group">
									<input type="text" id="i2ocasenumber" name="i2ocasenumber" class="form-control" value="{{project.i2ocasenumber}}" disabled>
								</div>
							</div>

							<div class="form-group">
								<label for="i2ocasecreated" class="col-sm-2 control-label">I2O Case Created?</label>
								<div class="col-sm-10 input-group">
		      						<span class="input-group-addon">
		        						<input name="i2ocasecreated" id="i2ocasecreated" type="checkbox" disabled data-value="{{project.i2ocasecreated}}">
		      						</span>
		      						<input name="i2ocasecreatedtimestamp" id="i2ocasecreatedtimestamp" type="text" class="form-control" value="{{project.i2ocasecompletedtimestamp}}" readonly disabled>
		    					</div>
		    				</div>

		    				<div class="form-group">
								<label for="i2ocasereleased" class="col-sm-2 control-label">I2O Case Released?</label>
								<div class="col-sm-10 input-group">
		      						<span class="input-group-addon">
		        						<input name="i2ocasereleased" id="i2ocasereleased" type="checkbox" disabled data-value="{{project.i2ocasereleased}}">
		      						</span>
		      						<input name="i2ocasereleasedtimestamp" id="i2ocasereleasedtimestamp" type="text" class="form-control" value="{{project.i2ocasereleasedtimestamp}}" readonly disabled>
		    					</div>
		    				</div>
							<!-- End Inputs -->
							</div>
						</div>
					</div>
				</div>
				<!-- End IMPLEMENTATION -->

				<br />

				<!-- Begin SERVICE -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default" id="opspanel">
			    		<div class="panel-heading" id="collapseHeadingSix">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
									Operations <small class="small-panel-title">{{project.opsstatus}}</small>
								</a>
							</h4>
						</div>
						<div id="collapseSix" class="panel-collapse collapse">
							<div class="panel-body">
							<!-- Start Inputs -->
							<div class="form-group">
								<label for="opsstatus" class="col-sm-2 control-label">Operations Status</label>
								<div class="col-sm-10 input-group">
									<select class="form-control" name="opsstatus" id="opsstatusselect" disabled>
										<option id="opsNotStarted">Not Started</option>
										<option id="opsInProgress">In Progress</option>
										<option id="opsCompleted">Completed</option>
									</select>
								</div>
							</div>

							<hr />

							<div class="form-group">
								<label for="i2ocasecreated" class="col-sm-2 control-label">I2O Case Number</label>
								<div class="col-sm-10 input-group">
									<input type="text" class="form-control" value="{{project.i2ocasenumber}}" readonly disabled>
								</div>
							</div>

							<div class="form-group">
								<label for="i2ocaseaccepted" class="col-sm-2 control-label">I2O Case Accepted?</label>
								<div class="col-sm-10 input-group">
		      						<span class="input-group-addon">
		        						<input name="i2ocaseaccepted" id="i2ocaseaccepted" type="checkbox" disabled data-value="{{project.i2ocaseaccepted}}">
		      						</span>
		      						<input name="i2ocaseacceptedtimestamp" id="i2ocaseacceptedtimestamp" type="text" class="form-control" value="{{project.i2ocaseacceptedtimestamp}}" readonly disabled>
		    					</div>
		    				</div>

		    				<div class="form-group">
								<label for="i2ocasecompleted" class="col-sm-2 control-label">I2O Case Completed?</label>
								<div class="col-sm-10 input-group">
		      						<span class="input-group-addon">
		        						<input name="i2ocasecompleted" id="i2ocasecompleted" type="checkbox" disabled data-value="{{project.i2ocasecompleted}}">
		      						</span>
		      						<input name="i2ocasecompletedtimestamp" id="i2ocasecompletedtimestamp" type="text" class="form-control" value="{{project.i2ocasecompletedtimestamp}}" readonly disabled>
		    					</div>
		    				</div>

							<!-- End Inputs -->
							</div>
						</div>
					</div>
				</div>
				<!-- End SERVICE -->

				<br />

				<div style="width:65%;text-align:center;margin:0 auto;">
					<input type="submit" id="saveEdit" value="Update Project" class="btn btn-success hidden" style="width:500px;">
				</div>
			</form>

			<form action="/corporateNetwork/itaac/deleteProject" id="delete" method="POST" class="hidden" onsubmit='return confirm(&quot;Do you really want to delete this project?&quot;);'>
				<input name="projectid" type="hidden" value="{{project.projectid}}">
				<input type="submit" class="btn btn-danger pull-right" width="250px;" value="Delete Project">
			</form>
		</div>

		<div class="tab-pane fade in active" id="notes">
			{% for note in notes %}
				<div class="well">
					<form method="POST" action="/corporateNetwork/itaac/deleteNote" onsubmit='return confirm(&quot;Do you really want to delete this note?&quot;);'>
						<input type="hidden" name="noteid" value="{{note.noteid}}">
						<input type="hidden" name="project" value="{{project.projectid}}">
						<input type="submit" class="close" aria-hidden="true" value="&times;">
					</form>
					<h4>{{note.updated}}</h4>
					<p>{{note.content}}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<br />
	<br />
{% endblock %}
