{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - DMZaaS{% endblock %}
{% block head %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/chosen.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/chosen-bootstrap.css">
	<script type="text/javascript" src="/static/js/chosen.jquery.js"></script>
	<script type="text/javascript" src="/static/vendor/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			//NavBar
			$('#navDMZ').attr('class', 'active');

			//Populate Drop Downs
			$("#labStatus").val("{{clientArray.labstatus}}");
			$("#servicegateways").val(["{{clientArray.servicegateway1}}", "{{clientArray.servicegateway2}}"]);
			$("#maxBandwidth").val("{{clientArray.estimatedmaximumbandwidth}}");
			$("#vapapproval").val("{{clientArray.vapapproval}}");
			$("#architecturereview").val("{{clientArray.architecturereview}}");
			$("#addressspace").val("{{clientArray.addressspace}}");
			$("#aclreview").val("{{clientArray.aclreview}}");
			$("#implementation").val("{{clientArray.implementation}}");
			$("#assignee").val("{{clientArray.assignee}}");
			if ("{{clientArray.securityinfo}}" == "True") {
				$("#securityInfoYes").attr("selected","True");
			}
			else {
				$("#securityInfoNo").attr("selected","True");
			}
			if ("{{clientArray.inservice}}" == "True") {
				$("#inServiceYes").attr("selected","True");
			}
			else {
				$("#inServiceNo").attr("selected","True");
			}

			//Chosen JS init
			$("#labStatus").chosen({disable_search_threshold: 5});
			$("#servicegateways").chosen({max_selected_options: 2});
			$("#assignee").chosen({disable_search: true});
			$("#maxBandwidth").chosen({disable_search_threshold: 5});
			$("#vapapproval").chosen({disable_search_threshold: 5});
			$("#securityinfo").chosen({disable_search_threshold:5});
			$("#architecturereview").chosen({disable_search_threshold:5});
			$("#addressspace").chosen({disable_search_threshold:5});
			$("#aclreview").chosen({disable_search_threshold:5});
			$("#implementation").chosen({disable_search_threshold:5});
			$("#inservice").chosen({disable_search_threshold:5});
			$('.chosen-select').trigger("chosen:updated");

			//Links in form
			var regExp = /\(([^)]+)\)/;
			var primaryContact = $('#primaryContact').val()
			var otherContact = $('#otherContact').val()
			var clientConnectionOwner = $('#connectionOwner').val()
			var assignee = $('#assignee').val()
			primaryContact = regExp.exec(primaryContact);
			otherContact = regExp.exec(otherContact);
			clientConnectionOwner = regExp.exec(clientConnectionOwner);
			assignee = regExp.exec(assignee)
			$("#clickLabId").click(function() {
				window.open('http://eman-core.cisco.com/infosec/labreg/view.pcgi?lab_id={{clientArray.labid}}');
			});
			$("#clickPrimaryContact").click(function() {
				window.open('http://dir/' + primaryContact[1]);
			});
			$("#clickOtherContact").click(function() {
				window.open('http://dir/' + otherContact[1]);
			});
			$("#clickConnectionOwner").click(function() {
				window.open('http://dir/' + clientConnectionOwner[1]);
			});
			$("#clickAssignee").click(function() {
				window.open('http://dir/' + assignee[1]);
			})

			//Form Help
			$("#remedycase").popover({
										'trigger':'focus',
										'title':'Adding multiple cases',
										'content':'You can seperate multiple cases using a semicolon (;). Note: Do not add spaces', 'placement':'top'
									});

			//Enable edit functionality
			$("#editClient").click(function() {
				$("#detailsForm :input").prop("disabled", false);
				$("#clientId").prop("readonly", true);
				$("#clickLabId").remove();
				$("#clickPrimaryContact").remove();
				$("#clickOtherContact").remove();
				$("#clickConnectionOwner").remove();
				$("#submitEdits").removeClass("hidden");
				$("#submitEdits").removeAttr("disabled");
				$("#last").append("<form method='POST' action='/corporateNetwork/dmz/deleteClient' id='deleteForm' onsubmit='return confirm(&quot;Do you really want to delete this client?&quot;);'><input type='hidden' name='clientId' value='{{clientArray.engagementid}}'><input type='submit' class='btn btn-danger pull-right' value='Delete'></form>");
				$("#last").append("<form method='POST' action='/corporateNetwork/dmz/withdrawClient' id='withdrawForm' onsubmit='return confirm(&quot;Do you really want to withdraw this client?&quot;);'><input type='hidden' name='clientId' value='{{clientArray.engagementid}}'><input type='submit' class='btn btn-warning pull-left' value='Withdraw'></form>");
				$("#printRemedyCases").addClass("hidden");
				$("#remedycase").removeClass("hidden");
				$("#remedycase").removeAttr("disabled");
				$("#printImplementationCRs").addClass("hidden");
				$("#implementationcr").removeClass("hidden");
				$("#implementationcr").removeAttr("disabled");
				$("#labStatus").removeAttr("disabled").trigger("chosen:updated");
				$("#servicegateways").removeAttr("disabled").trigger("chosen:updated");
				$("#assignee").removeAttr("disabled").trigger("chosen:updated");
				$("#maxBandwidth").removeAttr("disabled").trigger("chosen:updated");
				$("#vapapproval").removeAttr("disabled").trigger("chosen:updated");
				$("#securityinfo").removeAttr("disabled").trigger("chosen:updated");
				$("#architecturereview").removeAttr("disabled").trigger("chosen:updated");
				$("#addressspace").removeAttr("disabled").trigger("chosen:updated");
				$("#aclreview").removeAttr("disabled").trigger("chosen:updated");
				$("#implementation").removeAttr("disabled").trigger("chosen:updated");
				$("#inservice").removeAttr("disabled").trigger("chosen:updated");
				$("#targetDate").datepicker({dateFormat:'yy-mm-dd'});
				$("#goLiveDate").datepicker({dateFormat:'yy-mm-dd'});
			});

			if ({{time}} < 7) {
				$("#timeInStatus").css("color", "green");
			}
			else if ({{time}} < 15) {
				$("#timeInStatus").css("color", "orange");
			}
			else {
				$("#timeInStatus").css("color", "red");
			}

			var offset = ($("#begin").position().top) - ($("#banner").height());
			$("html").animate({scrollTop:(offset)});

			//CKEditor Init
			CKEDITOR.replace('newNoteText');
		});
	</script>
{% endblock %}
{% block level2 %}DMZaaS{% endblock %}
{% block content %}
	<h2 id="begin">{{clientArray.subscriber}}</h2>

	<ul class="nav nav-pills">
  		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">In Progress <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/corporateNetwork/dmz">General</a></li>
				<li><a href="/corporateNetwork/dmz/smo">SM Overview</a></li>
			</ul>
		</li>
  		<li><a href="inService">In Service</a></li>
 		<li><a href="withdrawn">Withdrawn</a></li>
 		<li class="active"><a>{{clientArray.subscriber}}</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/corporateNetwork/dmz/billing">Billing</a></li>
				<li><a href="/corporateNetwork/dmz/pocs">Contacts</a></li>
			</ul>
		</li>
 		<li class="pull-right"><a href="addClient">Add New Client</a></li>
 		<li class = "pull-right"><button type="button" class="btn btn-warning" id="editClient">Edit Client</button></li>
 		<li class="pull-right"><a href="http://iwe.cisco.com/web/view-post/post/-/posts?postId=571900092" target="_blank">?</a></li>
	</ul>

	<div>
		<h5 class="pull-right" id="timeInStatus">Time in status: {{time}} days</h5>
		<h3>Status: {{currentStatus}}</h3>
		<h3>Assigned To: <span id="clickAssignee">{{clientArray.assignee}}</span></h3>

		<div class="row">
			{{progress | safe}}
			<div class="col-md-4" style="text-align: right"><h5>Intial Engagement</h6></div>
			<div class="col-md-4" style="text-align: center"><h5>Security Review</h6></div>
			<div class="col-md-4" style="text-align: left"><h5>Implementation</h6></div>
		</div>

		<h4>Latest Note:<a class="btn btn-primary pull-right" data-toggle="collapse" data-target="#newNote">New Note</a></h4>

		<br />

		<div class="collapse well" id="newNote">
			<h4>New Note</h4>
			<form name="newNote" action="/corporateNetwork/dmz/newNote" method="POST">
				<input type="hidden" name="clientId" value="{{clientArray.engagementid}}"/>
				<textarea id="newNoteText" name="noteContent" class="form-control" rows="4"></textarea><br />
				<input type="submit" class="btn btn-default pull-right" value="Post"></input>
			</form>
			<br /><br />
		</div>

		<div class="well">
			<h4>{{lastDate}}</h4>
			<p>{{lastContent | safe}}</p>
		</div>

		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  			<li id="detailsTab" class="active"><a href="#details" data-toggle="tab">Details</a></li>
  			<li id="notesTab"><a href="#notes" data-toggle="tab">Notes</a></li>
		</ul>

		<br />

		<div class="tab-content">
  			<div class="tab-pane fade in active" id="details">
  				<form id="detailsForm" class="form-horizontal" role="form" action="/corporateNetwork/dmz/editClient" method="post" onsubmit='return confirm(&quot;Do you really want to save these changes?&quot;);'>
					<div class="form-group hidden">
						<label for="clientId" class="col-sm-2 control-label">Client ID</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="clientId" name="clientid" value="{{clientArray.engagementid}}" readonly>
						</div>
					</div>

					<div class="form-group">
						<label for="labId" class="col-sm-2 control-label">Lab ID</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="labid" id="labId" placeholder="Lab ID" disabled value="{{clientArray.labid}}">
							<div id="clickLabId" style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
						</div>
					</div>

					<div class="form-group">
						<label for="subscriber" class="col-sm-2 control-label">Subscriber</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="subscriber" name="subscriber" placeholder="Subscriber" disabled value="{{clientArray.subscriber}}">
						</div>
					</div>

					<div class="form-group">
						<label for="primaryContact" class="col-sm-2 control-label">Primary Contact (Business)</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="primaryContact" name="primarycontact" placeholder="Full Name + (CEC ID)" disabled value="{{clientArray.primarycontact}}">
							<div id="clickPrimaryContact" style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
						</div>
					</div>

					<div class="form-group">
						<label for="remedycase" class="col-sm-2 control-label">Remedy Case</label>
						<div class="col-sm-10">
							<p id="printRemedyCases">
								{{splitcases | safe}}
							</p>
							<textarea data-toggle="tooltip" id="remedycase" class="form-control hidden" name="remedycase" rows="3" disabled placeholder="INC#;RFC#;">{{clientArray.remedycase}}</textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="implementationcr" class="col-sm-2 control-label">Implementation CR</label>
						<div class="col-sm-10">
							<p id="printImplementationCRs">
								{{splitcrs | safe}}
							</p>
							<textarea data-toggle="tooltip" id="implementationcr" class="form-control hidden" name="implementationcr" rows="3" disabled placeholder="RFC#;">{{clientArray.implementationcr}}</textarea>
						</div>
					</div>

					<hr />

					<div class="form-group">
						<label for="labName" class="col-sm-2 control-label">Lab Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="labName" name="labname" placeholder="Lab Name" disabled value="{{clientArray.labname}}">
						</div>
					</div>

					<div class="form-group">
						<label for="teamName" class="col-sm-2 control-label">Team Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="teamName" name="teamname" placeholder="Team Name" disabled value="{{clientArray.teamname}}">
						</div>
					</div>

					<div class="form-group">
						<label for="otherContact" class="col-sm-2 control-label">Other Contact (Technical)</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="otherContact" name="othercontact" placeholder="Full Name + (CEC ID)" disabled value="{{clientArray.othercontact}}">
							<div id="clickOtherContact" style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
						</div>
					</div>

					<div class="form-group">
						<label for="activity" class="col-sm-2 control-label">Type of Business/Service/Activity Conducted</label>
						<div class="col-sm-10">
							<textarea id="activity" class="form-control" name="activityconducted" rows="3" disabled>{{clientArray.activityconducted}}</textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="targetDate" class="col-sm-2 control-label">Target Date</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="targetDate" name="targetdate" disabled placeholder="YYYY-MM-DD" value="{{clientArray.targetdate}}">
						</div>
					</div>

					<div class="form-group">
						<label for="goLiveDate" class="col-sm-2 control-label">Go-live Date</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="goLiveDate" name="golivedate" disabled placeholder="YYYY-MM-DD" value="{{clientArray.golivedate}}">
						</div>
					</div>

					<div class="form-group">
						<label for="location" class="col-sm-2 control-label">Location</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="location" name="location" disabled placeholder="e.g SJC12" value="{{clientArray.location}}">
						</div>
					</div>

					<div class="form-group">
						<label for="labStatus" class="col-sm-2 control-label">Lab Status (InfoSec)</label>
						<div class="col-sm-10">
							<select class="form-control" id="labStatus" name="labstatus" disabled>
								<option id="labStatusNonCompliant" 	value="Non-compliant">Non-compliant</option>
								<option id="labStatusCompliant"		value="Compliant">Compliant</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="servicegateways" class="col-sm-2 control-label">Service Gateways</label>
						<div class="col-sm-10">
							<select data-placeholder="Select Gateways" class="form-control chosen-select" id="servicegateways" name="servicegateways" multiple disabled>
								{% for location in locations %}
									<optgroup label="{{location}}">
										{% for gateway in gateways[location] %}
											<option value="{{gateway.name}}">{{gateway.name}}</option>
										{% endfor %}
									</optgroup>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="connectionOwner" class="col-sm-2 control-label">Client Connection Owner</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="connectionOwner" name="connectionowner" disabled placeholder="Full Name (CEC ID)" value="{{clientArray.connectionowner}}">
							<div id="clickConnectionOwner" style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
						</div>
					</div>

					<div class="form-group">
						<label for="maxBandwidth" class="col-sm-2 control-label">Estimated Maximum Bandwidth</label>
						<div class="col-sm-10">
							<select class="form-control" id="maxBandwidth" name="maxbandwidth" disabled>
								<option value="N/A">N/A</option>
								<option value="10MB">10MB</option>
								<option value="50MB">50MB</option>
								<option value="100MB">100MB</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="crossCharge" class="col-sm-2 control-label">Monthly Service Cross Charge</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="crossCharge" name="crosscharge" disabled value="{{clientArray.crosscharge}}">
						</div>
					</div>

					<div class="form-group">
						<label for="departmentId" class="col-sm-2 control-label">Bill To Department</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="departmentId" name="departmentid" disabled placeholder="Department ID" value="{{clientArray.billtoid}}">
							<br />
							<input type="text" class="form-control" id="departmentName" name="departmentname" disabled placeholder="Department Name" value="{{clientArray.billtoname}}">
						</div>
					</div>

					<div class="form-group">
						<label for="gisServices" class="col-sm-2 control-label">Other GIS Services</label>
						<div class="col-sm-10">
							<textarea id="gisServices" class="form-control" name="otherservices" rows="3" disabled>{{clientArray.otherservices}}</textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="plans" class="col-sm-2 control-label">Plans</label>
						<div class="col-sm-10">
							<textarea id="plans" class="form-control" name="plans" rows="3" disabled>{{clientArray.plans}}</textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="comments" class="col-sm-2 control-label">Comments</label>
						<div class="col-sm-10">
							<textarea id="comments" class="form-control" name="comments" rows="3" disabled>{{clientArray.comments}}</textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="securityInfo" class="col-sm-2 control-label">Security Info Provided?</label>
						<div class="col-sm-10">
							<select class="form-control" name="securityinfo" id="securityinfo" disabled>
								<option id="securityInfoNo"		value="0">No</option>
								<option id="securityInfoYes"	value="1">Yes</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="architecturereview" class="col-sm-2 control-label">Architecture Review</label>
						<div class="col-sm-10">
							<select class="form-control" name="architecturereview" id="architecturereview" disabled>
								<option value="Not Started">Not Started </option>
								<option value="In Progress">In Progress</option>
								<option value="Completed">Completed</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="addressspace" class="col-sm-2 control-label">Address Space</label>
						<div class="col-sm-10">
							<select class="form-control" name="addressspace" id="addressspace" disabled>
								<option value="Not Started">Not Started </option>
								<option value="In Progress">In Progress</option>
								<option value="Completed">Completed</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="aclreview" class="col-sm-2 control-label">ACL Review</label>
						<div class="col-sm-10">
							<select class="form-control" name="aclreview" id="aclreview" disabled>
								<option value="Not Started">Not Started</option>
								<option value="In Progress">In Progress</option>
								<option value="Completed">Completed</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="implementation" class="col-sm-2 control-label">Implementation</label>
						<div class="col-sm-10">
							<select class="form-control" id="implementation" name="implementation" disabled>
								<option value="Not Started">Not Started</option>
								<option value="In Progress">In Progress</option>
								<option value="Completed">Completed</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="inService" class="col-sm-2 control-label">In Service?</label>
						<div class="col-sm-10">
							<select class="form-control" id="inservice" name="inservice" disabled>
								<option id="inServiceNo"	value="0">No</option>
								<option id="inServiceYes"	value="1">Yes</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="assignee" class="col-sm-2 control-label">Assignee</label>
						<div class="col-sm-10">
							<select data-placeholder="Assigee" class="form-control chosen-select" id="assignee" name="assignee" disabled>
								<option value="None">None</option>
								{% for function in functions %}
									<optgroup label="{{function}}">
										{% for assignee in assignees[function] %}
											<option value="{{assignee.name}}">{{assignee.name}}</option>
										{% endfor %}
									</optgroup>
								{% endfor %}
							</select>
						</div>
					</div>

					<input id="submitEdits" type="submit" class="form-control hidden btn btn-success" value="Update" disabled>

					<br /><br />

					<div id="last"></div>
				</form>
  			</div>

  			<br />

  			<div class="tab-pane fade" id="notes">
  				{{printNotes | safe}}
  			</div>
		</div>
	</div>
{% endblock %}
