{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - DMZaaS{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript" src='/static/js/jquery.dataTables.min.js'></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navDMZ').attr('class', 'active');
			$(".clickable").click(function() {
  				window.location.href = $(this).find("a").attr("href");
			});

			var sortedTable = $('#dataTable').dataTable({"bPaginate":false});
			sortedTable.fnSort([[5,'desc']]);
			var x = $('#dataTable_filter');
			x.addClass('input-group');
			var z = x.children(":first").children("input")
			z.addClass('form-control').attr('placeholder','Search').unwrap();
			x.contents().filter(function(){ return this.nodeType != 1; }).remove();
		});
	</script>
{% endblock %}
{% block level2 %}DMZaaS{% endblock %}
{% block content %}
	<br />

	<ul class="nav nav-pills">
  		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">In Progress <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/corporateNetwork/dmz">General</a></li>
				<li><a href="/corporateNetwork/dmz/smo">SM Overview</a></li>
			</ul>
		</li>
  		<li class="active"><a href="inService">In Service</a></li>
 		<li><a href="withdrawn">Withdrawn</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/corporateNetwork/dmz/billing">Billing</a></li>
				<li><a href="/corporateNetwork/dmz/pocs">Contacts</a></li>
			</ul>
		</li>
 		<li class="pull-right"><a href="addClient">Add New Client</a></li>
	</ul>

	<h4><a href='billing'>Estimated Total Monthly Charges: ${{totalCrossCharge}}</a></h4>

	<div>
		<table class="table table-condensed table-hover" id='dataTable'>
			<thead>
				<tr>
					<th>Lab ID</th>
					<th>Subscriber</th>
					<th>Location</th>
					<th>Status</th>
					<th>Monthly Cross Charge ($)</th>
					<th>Go-live Date</th>
				</tr>
			</thead>
			<tbody>
				{{inServiceClients | safe}}
			</tbody>
		</table>
	</div>
{% endblock %}
