{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - DMZaaS{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navDMZ').attr('class', 'active');
		});
	</script>
{% endblock %}
{% block level2 %}DMZaaS{% endblock %}
{% block content %}
	<h2>DMZaaS Clients</h2>

	<ul class="nav nav-pills">
  		<li><a href="../dmz">In Progress</a></li>
  		<li><a href="inService">In Service</a></li>
 		<li><a href="withdrawn">Withdrawn</a></li>
 		<li class="dropdown active">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/corporateNetwork/dmz/billing">Billing</a></li>
					<li><a href="/corporateNetwork/dmz/pocs">Contacts</a></li>
				</ul>
			</li>
 		<li class="pull-right"><a href="addClient">Add New Client</a></li>
 		<li class="pull-right"><a href="http://iwe.cisco.com/web/view-post/post/-/posts?postId=571900092" target="_blank">?</a></li>
	</ul>

	{{costReport | safe }}
{% endblock %}
