@font-face {
	font-family: CiscoNormal;
	src: url('../fonts/');
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/static/fonts/glyphicons-halflings-regular.eot');
  src: url('/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/static/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
	width: 70%;
	margin: 0px auto;
	color: #525252;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

h1,h2,h3 {
	color: #444444;
}

a {
	color: #2970A6;
}

.popover {
	width: 200px;
}

.required {
	color: #FF0000;
}

#outages, #outages table {
	text-align: left;
	margin: 0px auto;
}

.thumbnail {
	height: 135px;
	text-align: center;
	padding: 5px;
}

.thumbnail img {
	height: 75px;
	width: 225px;
}

.thumbnail h3 {
	margin-top: 5px;
}

td {
	padding: 7.5px;
}

.statusLabel {
	text-align: center;
}

#submitCenter {
	width: 50%;
}

#incidentChartDiv{
	width: 500px%;
	margin: 0 auto;
}

#incidentChart {
	width: 250px;
	text-align: center;
	margin: 0 auto;
}

#incidentBreakdown {
	width: 250px;
	text-align: center;
	margin: 0 auto;
}

#regionalBreakdown {
	text-align: center;
	margin: 0 auto;
}

#map {
	text-align: center;
	margin: 0 auto;
}

#search {
	float: right;
}

#logo {
	width: 9%;
	height: 9%;
	float: right;
}

#footerRight {
	text-align: right;
}

#columnContainer {
	padding: 10px;
	text-align: left;
}

#leftColumn {
	padding: 10px;
	float: left;
	text-align: right;
	width: 50%;
}

#rightColumn {
	padding: 10px;
	float: right;
	text-align: left;
	width: 50%
}

#ionTable {
	width: 70%;
	margin: 0 auto;
}

#infraTable {
	width: 70%;
	margin: 0 auto;
	padding: 5px;
}

#banner {
	padding: 10px;
	border-bottom-width: 0px;
	background: -webkit-linear-gradient(#0096D6,#005A9A); /* For Safari */
	background: -o-linear-gradient(#0096D6,#005A9A); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#0096D6,#005A9A); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#0096D6,#005A9A); /* Standard syntax (must be last) */
}

#bannerInternal {
	width: 70%;
	margin: 0 auto;
}

#bannerTitle {
	margin-top: 50%;
	margin: 0 auto;
	color: #FFFFFF;
}

#countryMap {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

#inProgressClients, #inServiceClients, #withdrawnClients {
	cursor: pointer;
	margin: 0 auto;
	width: 90%;
}

#labId[disabled], #case[disabled], #primaryContact, #otherContact, #connectionOwner, #clickAssignee {
	color: #0000FF;
	text-decoration: underline;
}

#clickLabId, #clickCase, #clickPrimaryContact, #clickOtherContact, #clickConnectionOwner, #clickAssignee {
	cursor: pointer;
}

/* File Input Syles */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Dropdown Styles */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}	