@font-face {
	font-family: "Nevis";
	src: url(/static/fonts/nevis.ttf);
}

@font-face {
	font-family: "Champagne & Limousines";
	src: url(/static/fonts/ChampagneLimousinesBold.ttf);
}

body {
	font-family: "Helvetica";
	background: -webkit-radial-gradient(#222930,#222930); /* Safari */
	background: -o-radial-gradient(#222930,#222930); /* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(#222930,#222930); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#222930,#222930); /* Standard syntax */
	color: #E9E9E9;
}

h1, h4 {
	text-align: center;
	padding: 0px;
	margin: 0;
}

strong {
	font-family: "Nevis";
	color: #4EB1BA;
}

#intro {
	font-family: "Nevis";
	font-size: 100px;
}

#aris {
	width: 1000px;
	font-family: "Nevis";
	font-size: 50px;
}

#aris1, #aris2, #aris3 {
	width: 1000px;
	margin: 0 auto;
	font-size: 75px;
}

#eStore {
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	width: 15%;
	height: auto;
	margin-left: 423px;
}

#no {
	width: 20%;
	height: auto;
	margin-left: 350px;

}

#question {
	font-family: "Champagne & Limousines";
	font-size: 100px;
	text-align: center;
}

#why {
	font-family: "Champagne & Limousines";
	font-size: 50px;
	text-align: center;
}

#wildcard, #wildcard2 {
	font-family: "Champagne & Limousines";
	font-size: 35px;
}

#wildcard ul, #wildcard2 ul {
	font-family: "Helvetica";
}

#one, #two, #three {
	width: 750px;
	height: auto;
	font-family: "Helvetica";
	font-size: 50px;
	text-align: left;
}

#ciscoLogo {
	height: 50%;
	width: auto;
}

.future {
	opacity: 0;
}

.fadeIn {
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
	-moz-transition: opacity 1.5s ease-in-out;
	-webkit-transition: opacity 1.5s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}