{% extends "extranetTemplate.html" %}
{% block title %}Extranet - Site Connection{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navSiteConnect').attr('class', 'active')
		})
	</script>
{% endblock %}
{% block level2 %}Site Connection{% endblock %}
{% block content %}
	<ul class="nav nav-pills">
  		<li class="active"><a href="siteConnection">Something</a></li>
 		<li><a href="siteConnection/incidentClassification">Incident Classification</a></li>
	</ul>
{% endblock %}