{% extends "corpTemplate.html" %}
{% block title %}Sites - {{printCountry}}{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript" src='/static/js/jquery.dataTables.min.js'></script>
{% endblock %}
{% block level2 %}{{printCountry}}{% endblock %}
{% block content %}

<h1>World - {{printRegion}} - {{printCountry}}</h1>

<ol class="breadcrumb">
  <li><a href="world">World</a></li>
  <li><a href="region?r={{printRegion}}">{{printRegion}}</a></li>
  <li class="active">{{printCountry}}</li>
  <li><a href="listing">All Sites</a></li>
</ol>

<!--
<div id='countryMap'>
	<img src="/static/maps/{{printCountryCode}}.svg" />
</div>
-->

{{printArea | safe}}

<script type="text/javascript">
	$(document).ready(function() {
		$('#navCorpRemote').attr('class', 'active');
		$('#dataTable').dataTable({
			"bPaginate":false
		});
		var x = $('#dataTable_filter');
		x.addClass('input-group');
		var z = x.children(":first").children("input")
		z.addClass('form-control').attr('placeholder','Search').unwrap();
		x.contents().filter(function(){ return this.nodeType != 1; }).remove();
	});
</script>
{% endblock %}