{% extends "corpTemplate.html" %}
{% block title %}Sites - {{printType}}:{{printValue}}{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript" src='/static/js/jquery.dataTables.min.js'></script>
{% endblock %}
{% block level2 %}{{printType}}: {{printValue}}{% endblock %}
{% block content %}

<div class="alert alert-warning">
	<strong>Notice:</strong> These are ALL results for "{{printType}}: {{printValue}}"<br />
	If you wanted to search within a page/filter, please go back and use the search functionality with the term '{{printValue}}'
</div>

<h1>{{printType}}: {{printValue}}</h1>

<ol class="breadcrumb">
  <li><a href="listing">All Sites</a></li>
</ol>

{{printArea | safe}}

<script type="text/javascript">
	$(document).ready(function() {
		$('#navCorpRemote').attr('class', 'active');
		$('#dataTable').dataTable({
			"bPaginate":false
		});
		var x = $('#dataTable_filter');
		x.addClass('input-group');
		var z = x.children(":first").children("input")
		z.addClass('form-control').attr('placeholder','Search').unwrap();
		x.contents().filter(function(){ return this.nodeType != 1; }).remove();
	});
</script>
{% endblock %}