{% extends "corpTemplate.html" %}
{% block title %}Sites - {{printSite}}{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript" src='/static/js/jquery.dataTables.min.js'></script>
{% endblock %}
{% block level2 %}{{printSite}}{% endblock %}
{% block content %}

<h1>World - {{printRegion}} - {{printCountryName}} - {{printSite}}</h1>

<ol class="breadcrumb">
  <li><a href="world">World</a></li>
  <li><a href="region?r={{printRegion}}">{{printRegion}}</a></li>
  <li><a href="country?c={{printCountry}}">{{printCountryName}}</a></li>
  <li class="active">{{printSite}}</li>
  <li><a href="listing">All Sites</a></li>
</ol>

{{printArea | safe}}

<script type="text/javascript">
	$(document).ready(function() {
		$('#navCorpRemote').attr('class', 'active');
		$('#dataTable').dataTable({
			"bPaginate":false
		});
	});
</script>
{% endblock %}