{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - DMZaaS{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navDMZ').attr('class', 'active');
		});
	</script>
{% endblock %}
{% block level2 %}DMZaaS{% endblock %}
{% block content %}
	<h2>DMZaaS Clients</h2>

	<ul class="nav nav-pills">
  		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">In Progress <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/corporateNetwork/dmz">General</a></li>
				<li><a href="/corporateNetwork/dmz/smo">SM Overview</a></li>
			</ul>
		</li>
  		<li><a href="inService">In Service</a></li>
 		<li><a href="withdrawn">Withdrawn</a></li>
 		<li class="dropdown active">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/corporateNetwork/dmz/billing">Billing</a></li>
					<li><a href="/corporateNetwork/dmz/pocs">Contacts</a></li>
				</ul>
			</li>
 		<li class="pull-right"><a href="addClient">Add New Client</a></li>
 		<li class="pull-right"><a href="http://iwe.cisco.com/web/view-post/post/-/posts?postId=571900092" target="_blank">?</a></li>
	</ul>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Subscriber</th>
				<th>Primary Contact</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
				<tr>
					<td>{{client.subscriber}}</td>
					<td>{{client.primarycontact}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
