{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - DMZaaS{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript" src='/static/js/jquery.dataTables.min.js'></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navDMZ').attr('class', 'active');
			$(".clickable").click(function() {
  				window.location.href = $(this).find("a").attr("href");
			});

			var sortedTable = $('#dataTable').dataTable({"bPaginate":false});
			sortedTable.fnSort([[1,'asc']]);
			var x = $('#dataTable_filter');
			x.addClass('input-group');
			var z = x.children(":first").children("input")
			z.addClass('form-control').attr('placeholder','Search').unwrap();
			x.contents().filter(function(){ return this.nodeType != 1; }).remove();
		});
	</script>
{% endblock %}
{% block level2 %}DMZaaS{% endblock %}
{% block content %}
	<h2>DMZaaS Clients</h2>

	<ul class="nav nav-pills">
  		<li class="active"><a href="dmz">In Progress</a></li>
  		<li><a href="dmz/inService">In Service</a></li>
 		<li><a href="dmz/withdrawn">Withdrawn</a></li>
 		<li class="pull-right"><a href="dmz/addClient">Add New Client</a></li>
 		<li class="pull-right"><a href="http://iwe.cisco.com/web/view-post/post/-/posts?postId=571900092" target="_blank">?</a></li>
	</ul>

	<br />

	<div>
		<table class="table table-condensed table-hover" id='dataTable'>
			<thead>
				<tr>
					<th>Lab ID</th>
					<th>Subscriber</th>
					<th>Location</th>
					<th>Status</th>
					<th>Assignee</th>
					<th>Date Updated (UTC)</th>
					<th>Time in Status</th>
				</tr>
			</thead>
			<tbody>
				{{inProgressClients | safe}}
			</tbody>
		</table>
	</div>
{% endblock %}