{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - ION{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navION').attr('class', 'active')
		})
	</script>
{% endblock %}
{% block level2 %}ION{% endblock %}
{% block content %}
	<br />

	<ul class="nav nav-pills">
  		<li><a href="../ion">Incidents</a></li>
  		<li class="active"><a href="stats">Statistics</a></li>
	</ul>

	<h3>Statistics</h3>

	<form name='ionQuarter'>
		<select>
			<option value="q1fy14">Q1 FY14</option>
			<option value="q4fy13">Q4 FY13</option>
			<option value="q3fy13">Q3 FY13</option>
			<option value="q2fy13">Q2 FY13</option>
			<option value="q1fy13">Q1 FY13</option>
			<option value="q4fy12">Q4 FY12</option>
			<option value="q3fy12">Q3 FY12</option>
			<option value="q2fy12">Q2 FY12</option>
			<option value="q1fy12">Q1 FY12</option>
		</select>
		<input class='btn btn-default btn-sm' type="submit" value="Display"> 
	</form>

	<table class="table table-condensed" id='ionTable'>
		<thead>
			<th>Item</th>
			<th>Value</th>
		</thead>
		<tbody>
			<tr>
				<td>No. of Sponsors</td>
				<td>{{sponsorNo}}</td>
			</tr>
			<tr>
				<td>Number of Guest Accounts</td>
				<td>{{guestNo}}</td>
			</tr>
			<tr>
				<td>Total Successful Authentication Events</td>
				<td>{{successNo}}</td>
			</tr>
			<tr>
				<td>Total Authentication Events using CEC Credentials</td>
				<td>{{cecNo}}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}