{% extends "corpTemplate.html" %}
{% block title %}Corporate Network - Wireless{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#navWireless').attr('class', 'active')
		})
	</script>
{% endblock %}
{% block level2 %}Wireless{% endblock %}
{% block content %}
	<br />

	<ul class="nav nav-pills">
  		<li><a href="../wireless">Incidents</a></li>
  		<li><a href="infra">Infrastructure</a></li>
 		<li class="active"><a href="status">Service Status</a></li>
 		<li><a href="incidentClassification">Incident Classification</a></li>
	</ul>

	<h3>Status</h3>
	<div id="columnContainer" class="clearfix">
		<div id="leftColumn">
			<h4>Current</h4>
			<p>
				ISE Version: 1.0
			</p>
		</div>

		<div id="rightColumn">
			<h4>Future</h4>
			<p>
				ISE Version: 2.0
			</p>
		</div>
	</div>
{% endblock %}