{% extends "template.html" %}
{% block title %}Admin Interface{% endblock %}
{% block head %}
	{{super()}}
	<script type="text/javascript" src='/static/js/jquery.dataTables.min.js'></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var sortedTable = $('.dataTable').dataTable({"bPaginate":false});
			sortedTable.fnSort([[1,'asc']]);
			var x = $('#dataTable_filter');
			x.addClass('input-group');
			var z = x.children(":first").children("input")
			z.addClass('form-control').attr('placeholder','Search').unwrap();
			x.contents().filter(function(){ return this.nodeType != 1; }).remove();
		});
	</script>
{% endblock %}
{% block level1 %}Admin Interface{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-4">
			<ul id="tabs" class="nav nav-pills nav-stacked" data-tabs="tabs">
				<h5>DMZaaS</h5>
				<li class="active"><a href="#assignees" data-toggle="tab">Assignees</a></li>
				<li><a href="#gateways" data-toggle="tab" onclick="refresh();">Gateways</a></li>
				<h5>ITaaC</h5>
				<li><a href="#projectTypes" data-toggle="tab">Project Types</a></li>
				<li><a href="#itaacResources" data-toggle="tab">ITaaC Resources</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="tab-content">
				<!-- Assignee Tab -->
				<div class="tab-pane fade in active" id="assignees">
					<h4>Current list of Assignees:</h4>
					<table class="table table-condensed dataTable">
						<thead>
							<th>Assignee</th>
							<th>Function</th>
							<th style="text-align:right">Delete?</th>
						</thead>
						<tbody>
							{% for assignee in assignees %}
								<tr>
									<td>{{assignee.name}}</td>
									<td>{{assignee.function}}</td>
									<form method="POST" action="/corporateNetwork/dmz/deletingAssignee" onsubmit='return confirm(&quot;Do you really want to delete this assignee?&quot;);'>
										<input type="hidden" name="assigneeid" value="{{assignee.assigneeid}}">
										<td><input type="submit" class="close" aria-hidden="true" value="&times;"></td>
									</form>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<hr />

					<div class="form-group">
						<form name="addAssignee" method="POST" action="/corporateNetwork/dmz/addingAssignee">
							<label for="assigneeFunction" class="control-label">Function <small style="color:#FF7878;">Be Consistent!</small></label>
							<input type="text" class="form-control" id="assigneeFunction" name="assigneeFunction" placeholder="Function" required>
							<br />
							<label for="assigneeFunction" class="control-label">Assignee Name</label>
							<input type="text" class="form-control" id="assigneeName" name="assigneeName" placeholder="FirstName Surname (login)" required>
							<br />
							<input style="margin: 0 auto;width:15%;" type="submit" class="form-control" value="Add Assignee">
						</form>
					</div>
				</div>

				<!-- Gateway Tab -->
				<div class="tab-pane fade in" id="gateways">
					<h4>Current list of Gateways:</h4>
					<table class="table table-condensed dataTable">
						<thead>
							<th>Gateway</th>
							<th>Location</th>
							<th style="text-align:right">Delete?</th>
						</thead>
						<tbody>
							{% for gateway in gateways %}
								<tr>
									<td>{{gateway.name}}</td>
									<td>{{gateway.location}}</td>
									<form method="POST" action="/corporateNetwork/dmz/deletingGateway" onsubmit='return confirm(&quot;Do you really want to delete this Gateway?&quot;);'>
										<input type="hidden" name="gatewayid" value="{{gateway.gatewayid}}">
										<td><input type="submit" class="close" aria-hidden="true" value="&times;"></td>
									</form>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<hr />

					<div class="form-group">
						<form name="addGateway" method="POST" action="/corporateNetwork/dmz/addingGateway">
							<label for="gatewayLocation" class="control-label">Location <small style="color:#FF7878;">Be Consistent! (e.g RTP)</small></label>
							<input type="text" class="form-control" id="gatewayLocation" name="gatewayLocation" placeholder="Location" required>
							<br />
							<label for="gatewayName" class="control-label">Gateway Name</label>
							<input type="text" class="form-control" id="gatewayName" name="gatewayName" placeholder="abc01-dmzaas-gw1" required>
							<br />
							<input style="margin: 0 auto;width:15%;" type="submit" class="form-control" value="Add Gateway">
						</form>
						</form>
					</div>
				</div>

				<!-- Project Types Tab -->
				<div class="tab-pane fade in" id="projectTypes">
					<h4>Project Types</h4>
					<table class="table table-condensed dataTable">
						<thead>
							<th>Size</th>
							<th>Type</th>
							<th>Monthly Cost ($)</th>
						</thead>
						<tbody>
							{% for projectType in projectTypes %}
								<tr>
									<td>{{projectType.size}}</td>
									<td>{{projectType.circuittype}}</td>
									<td>{{projectType.monthlycost}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<hr />

					<div class="form-group">
						<form name="addProjectType" method="POST" action="/corporateNetwork/itaac/addingProjectType">
							<label for="projectTypeType" class="control-label">Type</label>
							<select class="form-control" id="projectTypeType" name="projectTypeType" required>
								<!-- Add in new types here -->
								<option>Protected</option>
								<option>Unprotected</option>
							</select>
							<br />
							<label for="projectTypeSize" class="control-label">Size</label>
							<input type="text" class="form-control" id="projectTypeSize" name="projectTypeSize" placeholder="xx GB" required>
							<br />
							<label for="projectTypeCost" class="control-label">Monthly Cost</label>
							<input type="text" class="form-control" id="projectTypeCost" name="projectTypeCost" placeholder="Montly Cost ($)" required>
							<br />
							<input style="margin: 0 auto;width:15%;" type="submit" class="form-control" value="Add Project Type">
						</form>
						</form>
					</div>
				</div>

				<!-- ITaaC Resources Tab -->
				<div class="tab-pane fade in" id="itaacResources">
					<h4>Resources</h4>
					<table class="table table-condensed dataTable">
						<thead>
							<th>Name</th>
							<th>Login</th>
							<th>Type</th>
						</thead>
						<tbody>
							{% for resource in itaacResources %}
								<tr>
									<td>{{resource.resourcename}}</td>
									<td>{{resource.resourcelogin}}</td>
									<td>{{resource.resourcetype}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<hr />

					<div class="form-group">
						<form name="addItaacResource" method="POST" action="/corporateNetwork/itaac/addingResource">
							<label for="resourcename" class="control-label">Resource Name</label>
							<input type="text" class="form-control" id="resourcename" name="resourcename" placeholder="Name" required>
							<br />
							<label for="resourcelogin" class="control-label">Resource Login</label>
							<input type="text" class="form-control" id="resourcelogin" name="resourcelogin" placeholder="CEC" required>
							<br />
							<label for="resourcetype" class="control-label">Function <small style="color:#FF7878;">Be Consistent!</small></label>
							<input type="text" class="form-control" id="resourcetype" name="resourcetype" placeholder="Design/Implementation/Ops" required>
							<br />
							<input style="margin: 0 auto;width:15%;" type="submit" class="form-control" value="Add Project Type">
						</form>
					</div>
				</div>
			</div>
		</div>
  	</div>
{% endblock %}