{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{super()}}
{% endblock %}
{% block content %}
<h2>Service List</h2>

<hr />

<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="/homeAndRemote/homeOffice" class="thumbnail">
      <h3>Home and Remote</h3>
      <p>Current Issues: <span class="badge">{{homeAndRemoteIssues}}</span></p>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="/extranet/siteConnection" class="thumbnail">
      <h3>Extranet</h3>
      <p>Current Issues: <span class="badge">{{extranetIssues}}</span></p>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
  	<a href="/dcNetworking" class="thumbnail">
   		<h3>DC Networking</h3>
      <p>Current Issues: <span class="badge">{{dcIssues}}</span></p>
  	</a>
  </div>
  <div class="col-sm-6 col-md-3">
  	<a href="/corporateNetwork/core" class="thumbnail">
   		<h3>Corporate Network</h3>
      <p>Current Issues: <span class="badge">{{corpNetworkIssues}}</span></p>
    </a>
  </div>
</div>
{% endblock %}