<!doctype html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
      <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
      <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
      <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
      <title>{% block title %}{% endblock %} - Network Services</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="navbar navbar-inverse navbar-fixed-top" id='banner'>
        <div id='bannerInternal'>
          <a class="pull-right" href="http://wwin/"><img src="/static/logocopy.png" width="90px" height="50px"></a>
          <h1><a href="/" id='bannerTitle'>Network Services Dashboard</a></h1>
        </div>
      </div>
    </header>

    <br /><br /><br /><br />

    <h2>{% block level1 %}{% endblock %} <small>{% block level2 %}{% endblock %}</small></h2>
    {% block navItems %}{% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>

    <footer>
      <hr />
      <div id="footerRight" class="pull-right">
        <small><a href="/admin">Admin Interface</a></small>
        <br />
        <small><a href="/help">Help + Documentation</a></small>
        <br />
        <small>Maintained by: <a href="http://wwwin-tools.cisco.com/dir/details/chochoa" target="_blank">Chris Ochoa</a></small>
        <br /><br /><br />
      </div>
    </footer>
  </body>
</html>
