<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/tradeshowstyles.css">
	</head>
	<body onkeydown="reveal();">
		<div id="impress" data-transition-duration="600">
			<!-- Let's Win Life -->

			<!-- Title Slide -->
			<div id="intro" class="step" data-x="0" data-y="0" data-z="5000" data-scale="10">
				<h4><strong>GIS</strong></h4>
				<h1>NETWORK SERVICES</h1>
			</div>

			<!-- Questions Posed -->
			<div id="question" class="step" data-x="0">
				<p>Why Services?</p>
			</div>

			<!-- Point 1 -->
			<div id="one" class="step" data-x="1750">
				<strong>I </strong>
				<p>Reduced Costs</p>

				<strong>II </strong>
				<p>Increased Quality</p>

				<strong>III </strong>
				<p>Continual Improvement</p>
			</div>

			<div id="oldProcess" class="step" data-x="90000" data-z="10000"style="width:500px;height:auto;">
				<h1>How did I help?</h1>
				<br />
				<img style="margin-left:-500px;width:300%;height:auto;" src="/static/oldProcess.png">
			</div>

			<!-- Graph -->
			<div id="graph" class="step" data-x="2500" data-y="950" data-z="2000" data-rotate-x="-90">
				<iframe style="height:900px;width:1500px;" src="http://vm-rilogan-002/corporateNetwork/dmz"></iframe>
			</div>

			<!-- Aris -->
			<div id="aris" class="step" data-x="7500" data-y="950" data-z"2000" data-rotate-x="-90">
				<h4><strong>GIS</strong></h4>
				<img id="eStore" src="/static/eStore.png">
				<h1 style="font-size:50px;">CISCO PRIME SERVICE CATALOG <br /><strong>(eStore)</strong></h1>
			</div>

			<div id="aris1" class="step" data-x="10000" data-y="950" data-z"2000" data-rotate-x="-90">
				<img id="no" src="/static/no.png"></img>
				<p>No more requests through emails or opening cases, wasting time and resources.</p>
			</div>

			<div id="aris2" class="step" data-x="12500" data-y="950" data-z"2000" data-rotate-x="-90">
				<h4>The automation process</h4>
				<img src="/static/process.png">
			</div>

			<div id="aris3" class="step" data-x="15000" data-y="950" data-z"2000" data-rotate-x="-90">
				<p>Average time taken before:<br /><strong>~2880 Minutes</strong></p>
				<p>Average time taken after:<br /><strong>~1 Minute</strong></p>
			</div>

			<div id="wildcard" class="step" data-x="150000" data-y="95000" data-z"200000" data-rotate-x="-90">
				<h1><strong>Backend</strong></h1>
				<ul>
					<li>Python</li>
					<li>Flask</li>
					<li>PostgreSQL Datbase</li>
					<li>PeeWee ORM</li>
				</ul>

				<h1><strong>Frontend</strong></h1>
				<ul>
					<li>HTLML5/CSS3/JS</li>
					<li>jQuery</li>
					<li>Bootstrap</li>
				</ul>
			</div>
		</div>

		<script src="/static/js/impress.js"></script>
		<script>impress().init();</script>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
		<script type="text/javascript">
			function reveal() {
				$(".future").addClass("fadeIn");
			}
		</script>
	</body>
</html>